body {
  background: #C36044;
text-align: center;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

h1 {
  color: white;
  margin: 10px;
  padding: 10px;
font-family: 'Roboto', sans-serif;
font-size: 1000;
}

h2 {
font-family: 'Roboto', sans-serif;
font-size: 500;
color: white;
margin: 10px;
padding: 10px;
}

ul{
  list-style-type: none;
  margin: 10px;
  padding: 10px;
}

li {
  background: #F7D5D3;
  margin: 10px;
  padding: 10px;
}

a{
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  font-family:'Roboto Slab', serif;
  font-size: 400;
  color: white
}

a:hover{
  background: #C36044;
}

img{
  border: 0;
}

p{
  font-family: 'Roboto Slab', serif;
  font-size: 400;
  color: white;
}
